.quiz-details{
    border:  2px solid black;
    border-radius: 10px;
    margin: 35px;
    padding: 25px;
}
.icon{
    display: flex;
    justify-content: space-around;
}
.icon svg {
    color: blue;
    width: 30px;
    cursor: pointer;
}