
.quiz{
    margin: 40px auto;
    border: 2px solid rgb(209, 209, 205);
    border-radius: 5px;
    height: 315px;
    width: 260px;
}
.quiz img{
    background-color: rgb(237, 239, 239);
    height: 250px;
}
.quiz-cart{
    display: flex;
    justify-content: space-between;
    margin: 13px 4px 0;
}
.quiz-cart button{
    border: none;
    border-radius: 6px;
    background-color: rgb(95, 95, 239);
}
.quiz-cart a {
    text-decoration: none;
    color: white;
}
.quiz-cart button:hover{
    background-color: rgb(3, 15, 236);
}