.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.header-icon{
    text-decoration: none;
}
.header-link a{
    text-decoration: none;
    margin: 0 30px;
}

@media only screen and (max-width: 600px) {
   .header{
    flex-direction: column;
   }
   .header-link a{
    margin: 15px;
}
}